<h1>Banco de Dados de Reações Químicas</h1>
<div class="input-container">
	<div role="group" class="hidden" aria-hidden="true">
		<button data-to-insert="₀">X₀</button>
		<button data-to-insert="₁">X₁</button>
		<button data-to-insert="₂">X₂</button>
		<button data-to-insert="₃">X₃</button>
		<button data-to-insert="₄">X₄</button>
		<button data-to-insert="₅">X₅</button>
		<button data-to-insert="₆">X₆</button>
		<button data-to-insert="₇">X₇</button>
		<button data-to-insert="₈">X₈</button>
		<button data-to-insert="₉">X₉</button>
	</div>
	<input id="input" type="search" placeholder="Filtrar..." />
</div>
<div class="overflow-auto" tabindex="0">
	<table id="table" class="full-link-rows hover-effect"></table>
</div>
