@import url("fonts.css");
@import url("art-deco.css");

:root {
    --p-spacing: 1rem;
    --accent-color: #8a5cf5;

    /* --text-font-size: 16px; */
    --text-font-size: clamp(12px, 3vw, 16px);

    /* --font-ui-small: 13px; */
    --font-ui-small: clamp(12px, 2vw, 13px);
    --text-font: "Noto Serif", georgia, "Times New Roman", serif;
    --line-height-normal: 1.5;
    --indent-size: 4;
    --page-margins: 32px 32px;
    --background-primary: #070918;
    --text-normal: #e2dec5;

    /* "color-mix" ainda não é amplamente suportado:
    --text-muted: color-mix(in lab, var(--background-primary, #070918), var(--text-normal, #e2dec5) 70%); */
    --text-muted: #9a988c;
    --h1-font: "ParkLaneNF", "Limelight", "Notable", "Noto Sans", "Inter", sans-serif;
    --h1-color: var(--accent-color);
    --h1-weight: 500;
    --h1-line-height: 1.2em;
    --h1-size: 3em;
    --h1-corner-size: 0.5em;
}

* {
    box-sizing: border-box;
}

body {
    width: 88%;
    padding: var(--page-margins);
    margin: 8px auto;

    /* "overflow-x" só é necessário porque "scrollbar-gutter" ainda não é amplamente suportado */ 
    overflow-x: hidden;
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    line-height: var(--line-height-normal);
    color: var(--text-normal);
    tab-size: var(--indent-size);
    background-color: var(--background-primary);
}

.top-art-deco-frame {
    position: absolute;
    top: 0;
    left: 0;

    /* "100vw" só é necessário porque "scrollbar-gutter" ainda não é amplamente suportado, caso contrário "100%" seria o ideal */ 
    width: 100vw;
    border-bottom: 1px solid var(--accent-color);
}

.top-art-deco-frame::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 40px;
    pointer-events: none;
    content: "";
    background-image: var(--art-deco-gradient);

    /* "mask" ainda não é amplamente suportado, temos que usar o prefixo "-webkit" */
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: var(--art-deco-bottom-frame);
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-image: var(--art-deco-bottom-frame);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-repeat: no-repeat;
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-repeat: no-repeat;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-position: center;
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-position: center;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-size: auto 40px;
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-size: auto 40px;
    transform: scaleY(-1) translateY(calc(-100% + 6px));
}

h1, h2, table {
    margin-block: var(--p-spacing);
}

h1 {
    position: relative;
    z-index: 2;
    padding-block: 19px;
    margin-top: 0;
    font-family: var(--h1-font);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-line-height);
    color: var(--h1-color);
    text-align: center;
    letter-spacing: -0.015em;
    clip-path: none;
}

h1::before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: var(--art-deco-gradient);
    clip-path: unset;
    
    /* "mask" ainda não é amplamente suportado, temos que usar o prefixo "-webkit" */
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask: var(--art-deco-h-top-left) left top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-top-right) right top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-right) right bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-left) left bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) top/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) bottom/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) left var(--h1-corner-size)/calc(0.2507 * var(--h1-corner-size)) calc(100% - 2 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) right var(--h1-corner-size)/calc(0.2514 * var(--h1-corner-size) - 0.5px) calc(100% - 2 * var(--h1-corner-size)) no-repeat;
    /* stylelint-disable-next-line plugin/use-baseline */
    mask: var(--art-deco-h-top-left) left top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-top-right) right top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-right) right bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-left) left bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) top/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) bottom/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) left var(--h1-corner-size)/calc(0.2507 * var(--h1-corner-size)) calc(100% - 2 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) right var(--h1-corner-size)/calc(0.2514 * var(--h1-corner-size) - 0.5px) calc(100% - 2 * var(--h1-corner-size)) no-repeat;
}

a {
    color: var(--accent-color);
}