/* https://fonts.google.com/noto/specimen/Noto+Serif */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 200 900;
    src: url("/fonts/NotoSerif-VariableFont_wdth,wght.woff2") format("woff2-variations"),
         url("/fonts/NotoSerif-VariableFont_wdth,wght.woff2") format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 200 900;
    src: url("/fonts/NotoSerif-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations"),
         url("/fonts/NotoSerif-Italic-VariableFont_wdth,wght.woff2") format("woff2");
    font-display: fallback;
}

/* https://www.1001fonts.com/parklane-font.html
   LICENSE: [1001Fonts Free For Commercial Use License (FFC)](https://www.1001fonts.com/licenses/ffc.html)
*/
@font-face {
    font-family: ParkLaneNF;
    src: url("/fonts/ParkLaneNF.woff2") format("woff2");
    font-display: swap;
}

/* https://fonts.google.com/specimen/Limelight
   LICENSE: [Open Font License](https://openfontlicense.org/)
*/
@font-face {
    font-family: Limelight;
    src: url("/fonts/Limelight-Regular.woff2") format("woff2");
    font-display: swap;
}