@import url("common.css");

:root {
    /* "color-mix" ainda não é amplamente suportado:
    --background-modifier-border-focus: color-mix(in lab, var(--background-primary), var(--text-normal) 40%);
    --background-modifier-form-field: color-mix(in lab, var(--background-primary), var(--text-normal) 25%);
    --background-modifier-border: color-mix(in lab, var(--background-primary), var(--text-normal) 20%);
    */
    --background-modifier-border-focus: #585757;
    --background-modifier-form-field: #39393e;
    --background-modifier-border: #2f3036;
    --input-height: 30px;
    --input-border-width: 1px;
    --input-radius: 0;
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgb(255 255 255 / 9%),
        0 2px 4px 0 rgb(0 0 0 / 15%),
        0 1px 1.5px 0 rgb(0 0 0 / 10%),
        0 1px 2px 0 rgb(0 0 0 / 20%),
        0 0 0 0 transparent;
    --input-font-weight: 400;
    --search-icon-size: 18px;
    --search-icon-color: var(--text-muted);
    --table-line-height: 1.8;
    --table-border-width: 1px;
    --table-white-space: break-spaces;
    --table-header-weight: 600;

    /* "color-mix" ainda não é amplamente suportado:
    --table-border-color: color-mix(in lab, var(--background-primary), var(--text-normal) 10%);
    */
    --table-border-color: #1d1e26;
    --table-cell-vertical-alignment: top;
}

#search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#subscripts-container {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 10;
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
}

#subscripts-container.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

#subscripts-container > :first-child {
    border-radius: 8px 0 0 8px;
}

#subscripts-container > :last-child {
    border-radius: 0 8px 8px 0;
}

.subscript-button {
    height: var(--input-height);
    padding: 4px 12px;
    font-size: var(--font-ui-small);
    font-weight: var(--input-font-weight);
    color: var(--text-normal);
    
    /* "outline" básico é amplamente suportado */
    /* stylelint-disable-next-line plugin/use-baseline */
    outline: none;
    background-color: var(--background-modifier-border);
    border: 0;
    box-shadow: var(--input-shadow);
}

input[type="search"] {
    width: 100%;
    height: var(--input-height);
    padding: 4px 8px;
    font-family: inherit;
    font-size: var(--font-ui-small);
    color: var(--text-normal);
    text-align: center;
    
    /* "outline" básico é amplamente suportado */
    /* stylelint-disable-next-line plugin/use-baseline */
    outline: none;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    border-radius: var(--input-radius);
    transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

input[type="search"]:focus {
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

.search-input-wrapper {
    position: relative;
}

.search-input-wrapper::before {
    position: absolute;
    inset-inline-start: 8px;
    top: calc((var(--input-height) - var(--search-icon-size)) / 2);
    display: block;
    width: var(--search-icon-size);
    height: var(--search-icon-size);
    content: "";
    background-color: var(--search-icon-color);

    /* "mask" ainda não é amplamente suportado, temos que usar o prefixo "-webkit" */
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask-repeat: no-repeat;
    /* stylelint-disable-next-line plugin/use-baseline */
    mask-repeat: no-repeat;
}

.search-input-wrapper input {
    display: block;
    padding-inline-start: 36px;
}

.table-wrapper {
    width: 100%;

    /* "scrollbar-gutter" ainda não é amplamente suportado */
    /* stylelint-disable-next-line plugin/use-defensive-css */
    overflow-x: auto;
    overscroll-behavior-x: contain;
}

table {
    width: 100%;
    line-height: var(--table-line-height);
    overflow-wrap: break-word;
    border-collapse: collapse;
}

th, td {
    padding: 4px 8px;
    vertical-align: var(--table-cell-vertical-alignment);
    white-space: var(--table-white-space);
    border: var(--table-border-width) solid var(--table-border-color);
}

th {
    font-weight: var(--table-header-weight);
    border-bottom-width: calc(var(--table-border-width) + 2px);
}

tr {
    position: relative;
}

td a {
    color: inherit;
    text-decoration: none;
}

td a::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    content: '';
}