:root {
    --size-2-2: 4px;
    --size-4-1: 4px;
    --size-4-2: 8px;
    --size-4-3: 12px;

    --background-modifier-border-focus: color-mix(in lab, var(--workleaves-background), var(--text-normal) 40%);
    --background-modifier-form-field: color-mix(in lab, var(--workleaves-background), var(--text-normal) 25%);
    --background-modifier-border: color-mix(in lab, var(--workleaves-background), var(--text-normal) 20%);
    
    --input-height: 30px;
    --input-border-width: 1px;
    --input-radius: 0;
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0,0,0,.15),
    0 1px 1.5px 0 rgba(0,0,0,.1),
    0 1px 2px 0 rgba(0,0,0,.2),
    0 0 0 0 transparent;
    --input-font-weight: 400;
    --search-icon-size: 18px;
    --search-icon-color: var(--text-muted);

    --table-line-height: 1.8;
    --table-border-width: 1px;
    --table-white-space: break-spaces;
    --table-header-line-height: 1.8;
    --table-header-weight: 600;
    --table-border-color: color-mix(in lab, var(--workleaves-background), var(--text-normal) 10%);
    --table-cell-vertical-alignment: top;
}

#subscripts-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-inline-start: 18px;
}
#subscripts-container > :first-child {
    border-radius: 4px 0 0 0;
}
#subscripts-container > :last-child {
    border-radius: 0 4px 0 0;
}

.subscript-button {
    color: var(--text-normal);
    background-color: var(--background-modifier-border);
    box-shadow: var(--input-shadow);
    border: 0;
    font-size: var(--font-ui-small);
    padding: var(--size-4-1) var(--size-4-3);
    height: var(--input-height);
    font-weight: var(--input-font-weight);
    outline: none;
}

input[type="search"] {
    text-align: center;
    width: 100%;
    height: var(--input-height);

    border-color: var(--background-modifier-border-focus);
    transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;

    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    color: var(--text-normal);
    font-family: inherit;
    padding: var(--size-4-1) var(--size-4-2);
    font-size: var(--font-ui-small);
    border-radius: var(--input-radius);
    outline: none;
}
input[type="search"]:focus {
    box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

.search-input-container {
    position: relative;
}
.search-input-container::before {
    top: calc((var(--input-height) - var(--search-icon-size)) / 2);
    inset-inline-start: var(--size-4-2);
    position: absolute;
    content: "";
    height: var(--search-icon-size);
    width: var(--search-icon-size);
    display: block;
    background-color: var(--search-icon-color);
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.search-input-container input {
    display: block;
    padding-inline-start: 36px;
}

table {
    border-collapse: collapse;
    line-height: var(--table-line-height);

    margin-block-start: var(--p-spacing);
    margin-block-end: var(--p-spacing);

    width: 100%;
}

th, td {
    border-inline-width: var(--table-border-width);
    white-space: var(--table-white-space);
    text-align: start;
    padding: var(--size-2-2) var(--size-4-2);
    border: var(--table-border-width) solid var(--table-border-color);
    vertical-align: var(--table-cell-vertical-alignment);
}

th {
    border-bottom-width: calc(var(--table-border-width) + 2px);
    line-height: var(--table-header-line-height);
    font-weight: var(--table-header-weight);
}