@import url("fonts.css");
@import url("art-deco.css");

:root {
    --p-spacing: 1rem;

    --accent-color: #8a5cf5;

    --font-text-size: 16px;
    --font-ui-small: 13px;
    --font-text: "Noto Serif", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    --line-height-normal: 1.5;
    --indent-size: 4;

    --page-margins: 32px 32px;

    --workleaves-background: #070918;
    --text-normal: #e2dec5;

    --text-muted: color-mix(in lab, var(--workleaves-background), var(--text-normal) 70%);

    --heading-spacing: calc(var(--p-spacing) * 2.5);

    --h1-font: "ParkLaneNF", "Limelight", "Impact", "Inter";
    --h1-color: var(--accent-color);
    --h1-weight: 500;
    --h1-line-height: 1.2em;
    --h1-size: 3em;
    --h1-corner-size: 0.5em;
}

* {
    box-sizing: border-box;
}

body {
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    padding: var(--page-margins);
    color: var(--text-normal);
    background-color: var(--workleaves-background);

    line-height: var(--line-height-normal);
    tab-size: var(--indent-size);

    overflow-x: hidden;
    margin: 0;
}

#view-header {
    border-bottom: 1px solid var(--accent-color);
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
}
#view-header::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    bottom: 0;
    background-image: var(--art-deco-gradient);
    mask-image: var(--art-deco-bottom-frame);
    mask-size: auto 40px;
    mask-position: center;
    mask-repeat: no-repeat;
    z-index: 10;
    transform: scaleY(-1) translateY(calc(-100% + 6px));
    pointer-events: none;
}

#container {
    width: 88%;
    margin: 8px auto;
}

h1, h2 {
    margin-top: var(--heading-spacing);

    margin-block-start: var(--p-spacing);
    margin-block-end: var(--p-spacing);
}

h1 {
    padding-block: 19px;
    margin-top: 0;

    letter-spacing: -0.015em;
    line-height: var(--h1-line-height);
    font-size: var(--h1-size);
    color: var(--h1-color);
    font-weight: var(--h1-weight);
    font-family: var(--h1-font);

    text-align: center;
    position: relative;
}
h1::before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: unset;
    background-image: var(--art-deco-gradient);
    mask: var(--art-deco-h-top-left) left top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-top-right) right top/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-right) right bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-bottom-left) left bottom/var(--h1-corner-size) var(--h1-corner-size) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) top/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514469152 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-hline) var(--h1-corner-size) bottom/calc(100% - 2 * var(--h1-corner-size)) calc(0.2514469152 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) left var(--h1-corner-size)/calc(0.2507139294 * var(--h1-corner-size)) calc(100% - 2 * var(--h1-corner-size)) no-repeat, var(--art-deco-h-vline) right var(--h1-corner-size)/calc(0.2514469152 * var(--h1-corner-size) - 0.5px) calc(100% - 2 * var(--h1-corner-size)) no-repeat;
}

a {
    color: var(--accent-color);
}