body.reaction {
	--block-spacing-vertical: 0;
}

body.home header,
main.periodic-table {
	text-align: center;
}

nav {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;

	* {
		padding: 0.5rem 1.25rem;
		background-color: transparent;
		border-top: 0;
		border-left: 0;
		border-radius: 0;
	}

	:last-child {
		border-right: 0;
	}
}

main {
	margin-top: var(--block-spacing-vertical);
}

header > .top-art-deco-frame:first-child {
	top: 0;
}

#input {
	--line-height: 1.75rem;

	font-size: 1.125rem;
}

kekule-periodic-table {
	width: 100%;
}

/* stylelint-disable-next-line selector-id-pattern */
#reactionsGrid {
	display: grid;
	padding: 16px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	gap: 16px;

	> * {
		display: flex;
		flex-direction: column;
	}

	.info {
		display: grid;
		margin-top: 4px;
		grid-template-columns: auto 1fr;
		gap: 0 8px;
	}

	.field {
		font-weight: bold;
		text-align: right;
	}

	.value {
		text-align: left;
	}
}
